.my-node-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .my-node-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  .my-node-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .my-node-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 200ms, transform 200ms;
  }